<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : 1 лютого 2012, 8:32
    Author     : Silvan
    Description:
        Purpose of the document follows.
-->
<!DOCTYPE config SYSTEM "configDTD.dtd">
<config>
    <arch type = "single"/>
    <dao>
        <class>ua.group42.taskmanager.control.data.XmlDAO</class>
        <path>.\tasks.xml</path>
    </dao>
<!--    <daogroup choice="xml">
        <daoxml>
            <class>ua.group42.taskmanager.control.data.XmlDAO</class>
            <path>.\tasks.xml</path>
        </daoxml>
        <daocsv>
            <class>ua.group42.taskmanager.control.data.CsvDAO</class>
            <path>.\tasks.csv</path>
        </daocsv>
        <daodb>
            <class>nothing.right.now</class>
            <path>192.168.5.2</path>
            <port>1234</port>
            <login>machupickchu</login>
            <pass>superpass</pass>
        </daodb>
    </daogroup> -->
    <params>
        <param name="locale">English</param>
        <param name="postponeMinutes">5</param>
        <param name="dateFormat">yyyy-MM-dd HH:mm:ss</param>
    </params>
</config>
