<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : 1 лютого 2012, 8:32
    Author     : Silvan
    Description:
        Purpose of the document follows.
-->
<!DOCTYPE config SYSTEM "configDTD.dtd">
<config>
    <dao>
        <class>ua.group42.taskmanager.control.data.XmlDAO</class>
        <userTaskList name="singleUser">tasks.xml</userTaskList>
        <userTaskList name="admin">.\adminTasks.xml</userTaskList>
        <userTaskList name="user1User">.\user1Tasks.xml</userTaskList>
        <userTaskList name="user2User">.\user2Tasks.xml</userTaskList>
        <userTaskList name="user3User">.\user3Tasks.xml</userTaskList>
    </dao>
    <server>
        <path>.\users.xml</path>
    </server>
    <client>
        <ip>127.0.0.1</ip>
        <port>9000</port>
        <login>machupickchu</login>
    </client>
    <params>
        <param name="locale">English</param>
        <param name="postponeMinutes">5</param>
        <param name="dateFormat">yyyy-MM-dd HH:mm:ss</param>
        <param name="tickTime">1000</param><!-- in millis -->
        <param name="portWork">9000</param>
        <param name="portStop">9001</param>
    </params>
</config>
